@using DomainLayer.Models
@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row mt-3">
        <div class="col-8">
            <h2>مرحبًا بك، حسين</h2>
            @* <h3>مدير حساب</h3> *@
        </div>
        <div class="col-4 text-end">
            <button class="btn btn-primary me-2">عرض الاصناف</button>
            <button class="btn btn-secondary">طلب تحويل أو صرف</button>
        </div>
    </div>
    <div class="row my-4">
        <div class="col">
            <a class="btn btn-info me-2" asp-controller="Product" asp-action="CreateNewProduct">إضافة صنف جديد</a>
            <a class="btn btn-warning me-2" asp-controller="Category" asp-action="CreateNewCategory">إضافة فئة جديدة</a>
            <a class="btn btn-success" asp-controller="PurchaseInvoice" asp-action="CreateNewPurchaseInvoice">إذن أضافة</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @if (Model==null)
            {
                <h1>no data found</h1>
            }
            else{
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>كود المنتج</th>
                        <th>اسم المنتج</th>
                        <th>الفئة</th>
                        <th>الوحدة</th>
                        <th>المخزون</th>
                        <th>سعر الوحدة</th>
                        <th>تعديل</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Product product in Model)
                    {
                        <tr>
                            <td>@product.Code</td>
                            <td>@product.Name</td>
                            <td>@product.Category</td>
                            <td>@product.UnitType</td>
                            <td>@product.Quantity</td>
                            <td>@product.Price</td>

                            <td><button class="btn btn-primary">تعديل</button></td>
                        </tr>
                    }
                    
                </tbody>
            </table>
            }
        </div>
    </div>
</div>